@namespace UI.Shared
@attribute [Authorize]

<div class="d-flex justify-content-center">
    <lottie-player src="https://assets4.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"
                   background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay>
    </lottie-player>
</div>  