@page "/"
@using UI.Component
@attribute [Authorize]

<JobSearch />

<div class="cover-card">
    <div class="cover2">
        <div class="text">
            <h2 style="margin-bottom:20px;">Відео оголошення: найкраща спеціальність</h2>
            <p style="margin-bottom: 30px;">
                Найбільш прогресивна спеціальність.
            </p>
            <div style="display:flex;margin:5px;">
                <img src="img/right-arrow.png" alt="" style="height: 25px;margin-right:10px;">
                <h5>Відправити резюме</h5>
            </div>
            <div style="display:flex;margin:5px;">
                <img src="img/right-arrow.png" alt="" style="height: 25px;margin-right:10px;">
                <h5>Оцінити свою відповідність ІТ</h5>
            </div>
            <div style="display:flex;margin:5px;">
                <img src="img/right-arrow.png" alt="" style="height: 25px;margin-right:10px;">
                <h5>Безліч вакансій</h5>
            </div>
        </div>
        <div class="ratio ratio-16x9">
        <iframe width="600" src="https://www.youtube.com/embed/qIAcETABkFc" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            </div>
    </div>
</div>
